header{
    background-image: url(../img/painel-header.png);
    background-size: 120vh;
    background-position-x: 50%;
    background-position-y: 80%;
    background-repeat: no-repeat;
}

.icon{
    height:50px;
}

#navBarIcon{
    z-index: 1;
    top: 0;
    /*margin: 3px 20px;*/
}

/*classes*/

.button{
    border: solid 2px rgb(51, 90, 43);
    background-color: rgb(51, 90, 43);
    border-radius: 30px;
    /*padding: 2vh;*/
}

.img1{
    height: 20vh;
}

/*Ids*/

#slider {
    width: 60%;
    height: 25vw;
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 60%;
    height: 60vh;
    object-fit: cover;
    border-radius: 5px;

    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}

#projects{
    width: 92%;
    height: 105vh;
    display: inline-flex;
    margin: 10vh 4% 5vh;
    justify-content: space-around;
}

#projects section{
    display: block;
    width: 33%;
}

#projects section img{
    height: 80vh;
    width: 29.5vw;
}

.button:hover{
    border: solid 2px rgb(78, 148, 87);
    margin: 2vh 0;
    color: rgb(78, 148, 87);
    background-color: rgb(102, 175, 111);
}

@media screen and (max-width: 1000px){

}