*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(231, 231, 231);
}

#header{
    height: 100vh;
    background-color: #E9E5CE;
    margin-bottom: 5vh;

    background-image: url(../img/painel-header.png);
    background-size: 120vh;
    background-position-x: 50%;
    background-position-y: 80%;
    background-repeat: no-repeat;
}

#navBar{
    background-color: rgb(78, 148, 87);
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1;
    top: 0;
    display: inline-flex;
    justify-content: space-between;
}

#destinations{
    width: 90%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

#content1{
    background-color: white;
    width: 90%;
    margin: 5%;
    padding: 3% 2%;
    border: solid 0.1px rgb(219, 219, 219);
    border-radius: 1%;
    box-shadow: 4px 4px 0 #333;
    -webkit-box-shadow: 4px 4px 0 #333;
    -moz-box-shadow: 4px 4px 0 #333;
}

#content2{
    width: 90%;
    margin: 5%;
    padding: 3% 2%;
}

/*Images*/


/*Designs*/

#vinha1{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/ramos1.png);
}

#vinha2{
    position: absolute;
    top: 0;
    right: 40px;
}

#vinha3{
    position: absolute;
    top: 0;
    right: 30px;
}

#vinha4{
    position: absolute;
    top: 0;
    right: 20px;
}

#vinha5{
    position: absolute;
    top: 0;
    right: 10px;
}

#vinha6{
    position: absolute;
    top: 0;
    right: 0;
}