*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(231, 231, 231);
}

header{
    width: 100%;
    height: 100vh;
    background-color: #E9E5CE;
}

nav{
    background-color: rgb(78, 148, 87);
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1;
    top: 0;
    display: inline-flex;
    align-items: center;
}

textarea{
    height:150px;
    width:  80.5vh;
}
/*Ids*/

#destinations{
    width: 60%;
    margin: 0 18%;
    justify-content: space-around;
}

#equip{
    height: 75vh;
    width: 60%;
}

#equip div{ 
    display: inline-flex;
    justify-content: space-around;
    width: 100% ;
}

#equip div article{
    width: 30vh;
}

#contact{
    height: 60vh;
    justify-content: space-around;
    display: block;
}

#contact div input{ 
    width: 40vh;
}
/*classes*/

.employees{
    width: 40vh;
}

/*Divisores*/

#container1{
    background-color: rgb(231, 231, 231);
}

#container2{
    background-color: rgb(210, 226, 205);
}

#container3{
    background-color: rgb(98, 202, 112);
}

#container4{
    background-color: rgb(78, 148, 87);
}

/*Caixas de conteudo*/

.content1{
    background-color: white;
    width: 90%;
    border: solid 0.1px rgb(219, 219, 219);
    border-radius: 5px;
    box-shadow: 4px 4px 0 #333;
    -webkit-box-shadow: 4px 4px 0 #333;
    -moz-box-shadow: 4px 4px 0 #333;
}

.content2{
    width: 90%;
}

.content3{
    background-color: rgb(13, 24, 14);
    width: 90%;
    border: solid 0.1px rgb(219, 219, 219);
    border-radius: 5px;
}

/*Eventos*/
::-webkit-scrollbar {
    background: rgb(60, 97, 65);
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(73, 207, 91);
    border-radius: 5px;
}

#destinations a:hover{
    background-color: rgb(102, 175, 111);
    text-align: center;
    border-radius: 10px;
}

@media screen and (max-width: 1000px){
    
    
}