@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300&display=swap');

*{
    font-family: Rubik, sans-serif;
    font-size: 18px;
    line-height: 4vh;
    text-align: justify;
}

a{
    text-decoration: none;
}

.titles {
    font-family: Bebas Neue, sans-serif;
}

.title{
    font-size: 60px;
}

.subTitle{
    font-size: 40px;
}

.subTitle2{
    font-size: 30px;
}

.color1{
    color: black;
}

.color2{
    color: white;
}

.color3{
    color: rgb(78, 148, 87);
}

.color4{
    color: rgb(51, 90, 43);
}

.color5{
    color: rgb(102, 175, 111);
}



/*Especificações*/

.underline1{    
text-decoration: underline solid 10px rgb(78, 148, 87);
}

.underline2{    
    text-decoration: underline solid 5px rgb(78, 148, 87);
}

@media screen and (max-width: 1000px){

    .subTitle{
        font-size: 30px;
    }

    *{
        font-size: 15px;
        line-height: 4vh;
        text-align: justify;
    }

    .title{
        font-size: 50px;
    }
    
    .subTitle2{
        font-size: 20px;
    }
}
