@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300&display=swap');

*{
    font-family: Rubik, sans-serif;
    font-size: 18px;
    line-height: 4vh;
    text-align: justify;
}

a{
    text-decoration: none;
}

.title{
    font-family: Bebas Neue, sans-serif;
    font-size: 60px;
}

.subTitle{
    font-family: Bebas Neue, sans-serif;
    font-size: 40px;
}

.color1{
    color: black;
}

.color2{
    color: white;
}

.color3{
    color: rgb(78, 148, 87);
}

.color4{
    color: rgb(51, 90, 43);
}

/*Posições*/
.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.mg1{  
    margin: 3vh 0;
}
/*!Posições!*/

/*Especificações*/

.underline1{    
text-decoration: underline solid 10px rgb(78, 148, 87);
}

.underline2{    
    text-decoration: underline solid 5px rgb(78, 148, 87);
}