@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Signika:wght@300&display=swap');

.title{
    font-family: Fjalla One, sans-serif;
    color: rgb(77, 124, 84);
    font-size: 60px;

}

.normalText{
    font-family: Signika, sans-serif;
}

/*Posicionamento*/

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.justify{
    text-align: justify;
}